@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", serif;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    a {
        cursor: default;
        color: black; 
        text-decoration: none;
    }
}